 /*Quitar barra scroll, pero que siga funcionando*/
body::-webkit-scrollbar {
    display: none;
}

#nav{
    background: linear-gradient(to right, rgb(168, 168, 172), transparent);
}
#nav a:hover{
    opacity: 0.5;
}

section{
    background: linear-gradient(to right, rgb(168, 168, 172), transparent);
}

.nav-item a{
    color: white;
}

#offcanvasDarkNavbar{
    background-color: rgb(168, 168, 172);
}

.dropdown-menu{
    background-color: rgb(168, 168, 172);
    
}
.dropdown-item{
    color: white;
}

.nav-item{
    color: white;
}

.offcanvas-title{
    color: white;
}

.bg-image{
    /*background-image: url("../img/img1.avif");*/
    background: rgb(168, 168, 172);
    height: 100vh;
    display: flex;
    align-items: center;
}
#titulo, #subtitulo{
    color:white;
    font-family: cursive;
}

.divTitulo{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#seeBtn{
    width: 20%;
    align-self: center;
}

/*Section*/

.proyectos{
    display: flex;
    justify-content: space-around;
}

#proyectoTitulo{
    color: aliceblue;
}

h5{
    color: black;
}

/*Modal*/
.modal-content{
    background: rgb(168, 168, 172);
    color: white;
    box-shadow: 0 20px 46px 0 rgb(0, 0, 0);
}

/*Carousel*/

#divBoton{
    bottom: auto;
}

.tituloStefano {
    font-size: xx-large;
    color:black;
    top: 0;
    bottom: auto;
}
.tituloStefano a{
    font-size: larger;
    text-decoration: none;
    color: black;
}

.carousel-item img{
    width: 100%;
 }

 #c-img1{
    height: 925px;
    width: 100%;
    background: no-repeat center center scroll;
 }

 #c-img2{
    height: 925px;
    width: 100%;
 }

 #c-img3{
    height: 925px;
    width: 100%;
 }

 .carousel-control-prev:hover{
    background: linear-gradient(to left, transparent, rgb(36, 36, 36));
 }

 .carousel-control-next:hover{
    background: linear-gradient(to right, transparent, rgb(36, 36, 36));
 }

 /*Card inside carousel*/
 .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15vh;
    width: 100%;
    border: none;
    opacity: 0.8;
    background:  rgb(0, 0, 0);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    box-shadow: 0 10px 26px 0 rgb(168, 168, 172);
    margin-bottom: 30px;
    padding: 20px;
 }

 .card:hover{
    opacity: 1.0;
 }

 .card-body{
    width: 100%;
    
 }

 .card-text{
    font-size: 2.5em;
 }

 /*Section images*/
 #tramitesImg:hover{
    opacity: 0.5;
 }

 /*Proyectos Hoteleros*/
 #cardProyectosHoteleros{
    background-color: transparent;
 }
 #proyectos{
    background-color: transparent;
 }
 #IngenieríaArquitectura{
    background-color: transparent;
 }

 #tramitesImgMovil{
    display: none;
 }

 /*Proyectos propios*/

 #proyectosText{
    color: white;
 }

 .card-text{
    color:white;
 }

 /*Scroll effect*/

 .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }


/*Formulario de contacto (home)*/

#formularioDiv{
    background:  rgb(168, 168, 172);
    color: white;
    width: 100%;
}


/*Footer*/
footer{
    background-color: rgb(51, 51, 51);
}

.list-inline-item a{
    color: white;
    text-decoration: none;
}

.list-inline-item a:hover{
    color: rgb(143, 141, 141);
}


/*Página hoteles*/
.image-container{
    background-image: url(./img/img2.jpg);
    background-size: cover;
    position: relative;
    box-shadow: 3px 5px 5px rgba(3, 32, 51, .8);
}

.text-container {
    display: none;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.image-container:hover{
    background: rgba(0, 0, 0, 0.5);
    .text-container{
        overflow: auto;
       display: flex;
       transition: .5s;
    }
    
}

                                        /*Web responsive*/

                    /*Mobile version*/

/*Index.html*/

@media (max-width: 600px){

    /*Carousel images*/

        #carouselExample{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 15px;
        }

        .carousel-inner{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            height: 80%;
            width: 100%;
        }
        
        .item img {
            position: absolute;
            object-fit:cover;
            top: 0;
            left: 0;
            min-height: 500px;
        }
    
    /*Carousel text*/
        

        .tituloStefano:hover{
            border: solid;
        }

        #divBotonMenu{
            height: auto;
            width: 50%;
        }
    
    /*Proyectos Hoteleros*/

        #divProyectosHoteleros{
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
        }

        #proyectos{
            display: flex;
            flex-direction: column;
        }

        #tramitesImg{
            display: none;
        }
        #tramitesImgMovil{
            display: flex;
            margin: 5px;
            width: 100%;
        }

        #cardProyectosHoteleros{
            margin: 20px;
            width: 100%;
        }
}

